
  <section class="text-center pt-3 thing_we_do">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-7 ">
          <div class="row reshape ">
            <div class="col-md-4 flex-end upperPos">
              <div class="card">
                <img src="../../../assets/images/CraftyMind.png" alt="things we do" class="card-img">
                <div class="card-img-overlay">
                      <h5 class="card-title">Crafty Mind</h5>
                      <a class="read_more"> <i class="fa fa-arrow-right"></i> &nbsp; Read more </a>
                    </div>
              </div>
            </div>
            <div class="col-md-4 flex-end">
              <div class="card">
                <img src="../../../assets/images/Envision.png" class="card-img">
                <div class="card-img-overlay">
                    <h5 class="card-title">Envision</h5>
                    <a class="read_more"> <i class="fa fa-arrow-right"></i> &nbsp; Read more </a>
                  </div>
              </div>
            </div>
            <div class="col-md-4 centerPos flex-end">
              <div class="card">
                <img src="../../../assets/images/Transformation.png" alt="things we do" class="card-img">
                <div class="card-img-overlay">
                    <h5 class="card-title">Transformation</h5>
                    <a class="read_more"> <i class="fa fa-arrow-right"></i> &nbsp; Read more </a>
                  </div>
              </div>
            </div>
            <div class="col-md-4 flex-start upperPos">
              <div class="card">
                <img src="../../../assets/images/Services.png" alt="things we do" class="card-img">
                <div class="card-img-overlay">
                    <h5 class="card-title">Services</h5>
                    <a class="read_more"> <i class="fa fa-arrow-right"></i> &nbsp; Read more </a>
                  </div>
              </div>
            </div>
            <div class="col-md-4 flex-start ">
              <div class="card">
                <img src="../../../assets/images/Dynamics.png" alt="things we do" class="card-img">
                <div class="card-img-overlay">
                    <h5 class="card-title">Dynamics</h5>
                    <a class="read_more"> <i class="fa fa-arrow-right"></i> &nbsp; Read more </a>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 info">
          <h1>We Deliver Digital Productivity</h1>
          <p> We craft technology solutions that digitally bond and transform the productivity of our customers and their citizens, workers, consumers and partners.</p>
        </div>
      </div>


    </div>
  </section>
