<div class="container-fluid p-0">
  <div class="container">
    <nav class="w-100 pt-3">
      <img src="../../../assets/images/Top Nav.png" alt="">
    </nav>
    <section>
      <div class="row banner">
        <div class="col-md-4 px-0 banner-aside position-relative">
          <img src="../../../assets/images/pinkLine.png" style="    position: absolute;
          left: 35%;
          top: 30%;
          width: 88%;
          z-index: -1;" alt="">
          <h6>Markting</h6>
          <h1 class="pt-3">25 Years of <br> Business Growth</h1>
          <p class="pt-3">Link Development, the global technology solutions provider and an A15 company, unveiled today
            that it has recently marked its Silver Jubilee anniversary.</p>
          <div class="d-flex" style="column-gap: 25px;">
            <button class="btn">Find out More</button>
            <div class="d-flex justify-content-center align-items-center  ">
              <span class="play-btn">
                <i class="fa fa-play" aria-hidden="true"> </i>
              </span>
              <span class="ps-3">Play Demo</span>
            </div>
          </div>
          <br>
          <ul class="circles p-0 d-flex align-items-center pt-3">
            <li class="pink-circle"></li>
            <em class="fa fa-circle" *ngFor="let i of items"></em>
            <li class="green-circle"></li>
            <em class="fa fa-circle" *ngFor="let i of items"></em>
            <li class="orange-circle "></li>
          </ul>
        </div>
        <div class="col-md-8">
          <img class="animated-img" src="../../../assets/images/Decore.svg" style="
          position: absolute;
          top: -63%;
          left: 61%;" alt="animated-img">
          <!-- <img src="../../../assets/images/" alt=""> -->
        </div>
      </div>

    </section>
  </div>

  <section class="thing_we_do">
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-7 ">
          <div class="row reshape">
            <div class="col-md-4 flex-end upperPos">
              <div class="card">
                <img src="../../../assets/images/CraftyMind.png" alt="things we do" class="card-img">
                <!-- <div class="card-img-overlay">
                      <h5 class="card-title">{{thing.title}}</h5>
                      <a class="read_more"> <i class="fa-solid fa-arrow-right-long"></i> &nbsp; Read more </a>
                    </div> -->
              </div>
            </div>
            <div class="col-md-4 flex-end">
              <div class="card">
                <img src="../../../assets/images/Envision.png" class="card-img">
                <!-- <div class="card-img-overlay">
                    <h5 class="card-title">{{thing.title}}</h5>
                    <a class="read_more"> <i class="fa-solid fa-arrow-right-long"></i> &nbsp; Read more </a>
                  </div> -->
              </div>
            </div>
            <div class="col-md-4 centerPos flex-end">
              <div class="card">
                <img src="../../../assets/images/Transformation.png" alt="things we do" class="card-img">
                <!-- <div class="card-img-overlay">
                    <h5 class="card-title">{{thing.title}}</h5>
                    <a class="read_more"> <i class="fa-solid fa-arrow-right-long"></i> &nbsp; Read more </a>
                  </div> -->
              </div>
            </div>
            <div class="col-md-4 flex-start upperPos">
              <div class="card">
                <img src="../../../assets/images/Services.png" alt="things we do" class="card-img">
                <!-- <div class="card-img-overlay">
                    <h5 class="card-title">{{thing.title}}</h5>
                    <a class="read_more"> <i class="fa-solid fa-arrow-right-long"></i> &nbsp; Read more </a>
                  </div> -->
              </div>
            </div>
            <div class="col-md-4 flex-start ">
              <div class="card">
                <img src="../../../assets/images/Dynamics.png" alt="things we do" class="card-img">
                <!-- <div class="card-img-overlay">
                    <h5 class="card-title">{{thing.title}}</h5>
                    <a class="read_more"> <i class="fa-solid fa-arrow-right-long"></i> &nbsp; Read more </a>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5"></div>

    </div>
  </section>
</div>
